.header {
    height: 80px;
    display: flex;
    // padding: 0px 40px 40px 40px;
    justify-content: space-between;
    align-items: center;
}
.button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #00DA49;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    padding: 8px 12px 8px 20px;
    border: none;
    gap: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    padding: 16px 20px;
  }
  
  .navItem {
    margin: 0 20px;
  }
  
  .navItem:last-child {
    margin-right: 40px;
  }
   
  .navItem a {
    color: #004538;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .navItem a:hover {
    color: #00da49;
  }

  