// .cont {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 24px;
// }

.marqueeRow1 {
  top: 0;
  left: 0%;
  width: 100%;
  position: absolute;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
  display: flex;
  gap: 24px;
}
.textWrapper {
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  align-items: center;
  margin-right: 24px;
  border-radius: 50px;
  border: 1px solid #dddfe1;
  background: #fff;
  //   margin-right: 24px;
  &__text {
    color: #1e2322;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
  }
}
// .firstCont {
//   height: 58px;
// //   overflow: hidden;
//   display: flex;
//   line-height: 30px;
//   position: relative;
//   width: 100%;
// }
// @keyframes marquee {
//     0% {
//       left: 0%;
//     }
//     100% {
//       left: -100%
//     }
//   }
// .marqueeRow2 {
//   top: 0;
//   left: 0%;
//   width: 100%;
//   position: absolute;
//   white-space: nowrap;
//   animation: marquee 5s linear infinite;
//   animation-delay: 2.5s;
//   display: flex;
//   gap: 24px;
// }
.cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.rowCont {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}
.row {
  display: flex;
  animation: 15s slide infinite linear;
}
.rowRight {
  display: flex;
  animation: 15s slidetoRight infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slidetoRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 768px) {
  .textWrapper {
    &__text {
      color: #1e2322;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
}
