.container {
  margin: 120px auto;
  max-width: 1440px;
  padding: 0 40px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 60px;
  color: #004538;
  font-weight: 700;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.itemCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 420px;
}
.dashBoard__green {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cde8e1;
  width: 100%;
  max-width: 420px;
  height: 420px;
  overflow: hidden;
}
.dashBoard__blue {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8b81de 50%, #f8f8f8 50%);
  width: 100%;
  max-width: 420px;
  height: 420px;
  overflow: hidden;
}
.projectImage {
  width: 370px;
  height: 370px;
  transition: transform 0.7s, visibility 0.7s ease-in;
}
.projectText {
  color: #1e2322;
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
}
.itemCont .projectText {
  transition: transform 0.7s, color 0.7s;
}
.itemCont:hover .projectImage {
  transform: scale(1.25);
}

.itemCont:hover .projectText {
  color: #00da49;
  transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
    margin-bottom: 80px;
  }
  .content_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .itemCont {
    max-width: 343px;
    height: 343px;
    margin-bottom: 40px;
  }
  .projectImage {
    width: 290px;
    height: 290px;
  }
}
