.workMainCont{
  padding-left: 40px;
  padding-right: 40px;
}
.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  h1 {
    color: #004538;
    font-weight: 700;
    line-height: 60px;
  }
}
.works_container {
  display: flex;
  // width: 100%;
}
